{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "no-unused-vars": "off",
    "eol-last": "off",
    "import/newline-after-import": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off"
  }
}